<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Conversation Bot{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <div class="logo-container">
<!--            <img src="{{ url_for('static', filename='img/logos.svg') }}" alt="Conversation Bot Logo" class="logo">-->
            <h1>Conversation Bot Tester</h1>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('tod_simulator') }}">TOD Simulator</a></li>
                <li><a href="{{ url_for('tod_analytics') }}">TOD Analytics</a></li>
                <li><a href="{{ url_for('history') }}">History</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Conversation Bot Tester</p>
    </footer>
    {% block scripts %}{% endblock %}
</body>
</html>